html {
  font-size: 10px;
  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  position: relative;
  margin: 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: transform 50ms ;
  will-change: transform;
  width: 100px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px black;
  touch-action: manipulation;
  user-select: none;
}

.key * {
  pointer-events: none;
}

.key::before,
.key::after {
  content: '';
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: opacity;
  transition: opacity 50ms ;
  border: 4px solid;
}

.key::before {
  border-color: black;
}

.key::after {
  z-index: 1;
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
  opacity: 0;
}

.playing {
  transform: scale(1.1);
}

.playing::before {
  opacity: 0;
}

.playing::after {
  opacity: 1;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffc600;
}

@media screen and (max-width: 480px) {
 .keys {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
 }

 .key {
   width: 33%;
   /*height: 33%;*/
   margin: 0;
 }
}
